body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #e6e6e6;
  font-family: "Arial";
}

/* ---------------HEADER.js - Navbar-------------------------- */

.container .navbar {
  background-color: #fff;
  margin: 0 0;
}

.container .navbar .logo_shop {
  margin-left: 80px;
}

.container .navbar .btn.btn-outline-success {
  background-color: #979696;
  border: none;
  color: white;
  width: 170px;
  letter-spacing: 2px;
}
.container .navbar .btn.btn-outline-success:hover {
  background-color: #757575;
  font-weight: 600;
}

/*------------------------Header.js - menu------------------*/

.container .menu {
  background-color: #979696;
  border-top: 2px solid #757575;
  border-bottom: 2px solid #757575;
}

.container .menu .nav a {
  color: white;

  letter-spacing: 2px;
  text-align: center;
}

.container .menu .nav {
  font-size: 15px;
  font-family: "Arial";
}

.container .menu .nav .nav-item {
  width: 160px;

  /* cursor: pointer; */
}

.container .menu .nav .nav-item:hover {
  background-color: #757575;
  font-weight: 600;
}

/*----------------------------MainPage.js ------------------------------*/
.container .main {
  background-color: #fff;
  padding-bottom: 60px;
}
.container .main .section_main .title {
  color: #4e4e4e;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
}

.container .main .section_main .figure_main .card.card.main-page {
  background-color: #979696;
  margin: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

.container
  .main
  .section_main
  .figure_main
  .card.card.main-page
  .card-body
  .card-title {
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.container .main .section_main .figure_main .card.main-page:hover {
  background-color: #757575;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
}

/*-----------------------------FOOTER.js-------------------------------------*/

.container .rectangle {
  background-color: #979696;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  border-top: 2px solid #757575;
  border-bottom: 2px solid #757575;
}

.container .rectangle .footer-copyright.mb-0 {
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  text-align: center;
}

/*----------------------------CATEGORY.JS---------------------------------*/

.container .main .product_detarman h1 {
  color: rgb(80, 75, 75);
  padding-top: 20px;
}

.container .main .table.table-borderless .form-control {
  border: 1px solid grey;
  width: 223px;
}

.container .main .table.table-borderless .btn.btn-primary.btn-sm {
  background-color: #979696;
  border: none;
  height: 30px;
  letter-spacing: 2px;
}

.container .main .table.table-borderless .btn.btn-primary.btn-sm:hover {
  background-color: #757575;
  font-weight: 600;
}

/*.............................PRODUCTITEM.JS-----------------------------*/

.card.product {
  margin: 30px;
  border: 1px solid gray;
  background-color: #fff;
}

.card.product .upload.btn.btn-info {
  background-color: #979696;
  color: white;
  letter-spacing: 2px;
  border: none;
  width: 223px;
  height: 37px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card.product .upload.btn.btn-info:hover {
  background-color: #757575;
  font-weight: 600;
}

.product {
  min-width: 0;
  background-color: white;
  width: 14rem;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.card-body .description {
  font-family: arial;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 19px;
  color: #333;
  margin: 0;
}

.card-body .description-input {
  color: #333;
  width: 35px;
  text-align: right;
}

a:hover {
  text-decoration: none;
}

/*-----------------------------------LOGIN.js-------------------------------*/

.login .container {
  background-color: #fff;
  letter-spacing: 2px;
  color: #4e4e4e;
  padding-bottom: 120px;
  margin: 0;
}

.login .container .border-log {
  border: 2px solid #d6dfcb;
  padding-bottom: 20px;
  background-color: #e6e6e6;
  margin-top: 50px;
  box-shadow: 10px 5px 5px black;
  border: 2px solid black;
}

.login .container .border-log h3 {
  padding-bottom: 5px;

  border-bottom: 2px solid black;
  background-color: #979696;
  color: #fff;
}

.login .container .form-group {
  padding-top: 20px;
  margin: 20px auto 0 auto;
  width: 50%;
}

.login .container .form-group .form-control.form-control-lg {
  letter-spacing: 2px;
  border: 2px solid black;
  box-shadow: 1px 1px 1px black;
}

.login .container .button_log {
  margin: 50px auto 0 auto;
  width: 50%;
}

.login .container .button_log .btn.btn-info.mx-auto.btn-lg.btn-block {
  background-color: #979696;
  border: 2px solid black;
  letter-spacing: 2px;
  box-shadow: 1px 1px 1px black;
}

.login .container .button_log .btn.btn-info.mx-auto.btn-lg.btn-block:hover {
  background-color: #757575;
  font-weight: 600;
  box-shadow: 10px 5px 5px black;
}

/*-----------------------------REGISTRATION.js--------------------------*/

.container .register {
  background-color: #fff;
  padding: 20px;
}

.container .register .reg {
  margin-top: 10px;
  letter-spacing: 2px;
  color: #4e4e4e;
}

.container .register .lead {
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #4e4e4e;
}

.container .register .form-row .form-group {
  letter-spacing: 2px;
  font-size: 13px;
}

.container .register .form-row .form-group .form-control {
  letter-spacing: 2px;
  border: 1px solid black;
  font-size: 12px;
}

.container .register .button-register.btn.btn-info {
  background-color: #979696;
  border: none;
  letter-spacing: 2px;
}

.container .register .button-register.btn.btn-info:hover {
  background-color: #757575;
  font-weight: 600;
}

/*----------------------------ACCOUNT.js--------------------------------*/

.container-user {
  background-color: #fff;
  padding-top: 20px;
  text-align: center;
  color: #4e4e4e;
}

.container-account {
  padding-top: 20px;
}

.card.order .card-body.order {
  background-color: #979696;
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  border: 1px solid #979696;
  height: 201px;
}

.card.order .card-body.order .card-title {
  color: #fff;
  font-weight: 700;
}

.card.order .card-body.order .description {
  padding-top: 5px;
  color: #fff;
}

.card.order .card-body.order:hover {
  background-color: #757575;
  font-weight: 600;
  border: 2px solid #646464;
}

/*----------------------------BASKET.JS---------------------------------*/

.container .main .my-card .header-basket {
  background-color: #fff;
  padding-top: 20px;
  text-align: center;
  color: #4e4e4e;
}

.container .main .my-card .container .btn.btn-info {
  background-color: #979696;
  border: none;
  letter-spacing: 2px;
}

.container .main .my-card .container .btn.btn-info:hover {
  background-color: #757575;
  font-weight: 600;
}

/*----------------------------OrdersClient.JS---------------------------------*/
.container .main {
}
.container .main .order {
  margin-top: 20px;
  color: #4e4e4e;
}
.button-order-details.btn.btn-info {
  background-color: #bcbdbc;
  border: none;
  letter-spacing: 2px;
}

.button-order-details:hover.btn.btn-info:hover {
  background-color: #aaacaa;
}

.button-map.btn.btn-info {
  background-color: #bcbdbc;
  border: none;
  letter-spacing: 2px;
}

.button-map:hover.btn.btn-info:hover {
  background-color: #aaacaa;
}
/*----------------------------USERMAP.JS---------------------------------*/

.container .main .map-header {
  padding-top: 20px;
  color: #4e4e4e;
  letter-spacing: 2px;
}

.container .main .button-order.btn.btn-info {
  background-color: #979696;
  border: none;
  letter-spacing: 2px;
}

.container .main .button-order.btn.btn-info:hover {
  background-color: #757575;
  font-weight: 600;
}

/*----------------------------ADDRESS.JS--------------------------------*/

.container .main .contact {
  padding-top: 20px;
  color: #4e4e4e;
  letter-spacing: 2px;
}

/*----------------------------ADRIAN------------------------------------*/
/*----------------------------PRODUCT------------------------------------*/
.card-body.order:hover {
  color: black;
  background-color: #ff7e21;
  text-decoration: none;
  border-color: black;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body.order {
  font: 15px Arial;
  color: #000000;
  cursor: pointer;
  text-align: center;
}

.acc {
  width: 18rem;
}

.acc .card-header {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #000000;
}

.acc .list-group .list-group-item .btn {
  width: 200px;
  display: inline-block;
}

.card .card-body .btn.btn-primary {
  background-color: #33b622;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.asd {
  text-align: center;
}
